.fullblogdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagediv{
    margin-top: 5px;
    width: 90%;
    height: 60vh;
}

#date{
    margin-top: 10px;
    }

.descdiv{
    margin-top: 30px;
    width: 90%;
    border-bottom: 10px solid black;
    box-sizing: border-box;
}

@media screen and (max-width:300px){
    .blog-image{
        width: 100%;

    }
    .imagediv{
        width: 90%;
        height:25vh;
    }
  }