.blog-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));    
    gap: 30px;
    padding: 0 20px;
  }
  

  .post-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.3s;
  }




  .blogimagediv{
    margin-top: 5px;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }

  #blogimage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #blogtitle{
    margin-top: 25px;
    word-wrap: break-word;
  }

  #date{
    margin-top: 0px;
  }

@media screen and (max-width:300px) {
  .blog-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 10px;
    box-sizing: border-box;
  }  
  .blogimagediv{
    width: 90%;
    height: 30vh;
  }
  #blogtitle{
    font-size: large;
  }
}



  