.logindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('../public/bg.jpg');
    overflow: hidden;
    object-fit: cover;
    color: white;
}

.inside-logindiv{
    background: transparent;
    backdrop-filter: blur(5000px);
    width: 400px;
    height: 300px;
    box-shadow: 6px 6px 6px gray;
}

form {
    border-radius: 8px;
    padding: 40px;
}


.form-elements{
    display: flex;
    flex-direction: column;

}

.form-elements input{
    margin-bottom: 5px;
    border-radius: 40px;
    padding: 7px 45px 7px 20px;
}

.submitbtn{
    width: 50%;
    margin-top: 30px;
}

.form-element-submit{
    display: flex;
    justify-content: center;
}

.paradiv{
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 0.875rem;
  }

.icon{
    position: absolute;
    color: black;
    margin-top: 9px;
    left: 80%;
    pointer-events: none;
}


@media screen and (max-width:300px){
    body{
        font-size: smaller;
    }
    .inside-logindiv{
        max-width: 250px;
    }

    .icon{
        left: 75%;
    }
}